* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #f4f4f4;
}

header {
  background: #3a6e5f;
  color: #fff;
  padding: 15px;
  text-align: center;
}

nav button {
  margin: 5px;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  background: #555;
  color: #fff;
  border-radius: 4px;
}

nav button:hover {
  background: #ff9800;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 35px;
  padding: 5px;
}

.card {
  background: #fff;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform .2s;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  height: 500px;
  object-fit: contain;
  border-radius: 15px;
  margin-bottom: 10px;
}

.card h3 {
  margin: 10px 0 10px;
  font-size: 14px;
}

.card p {
  color: #666;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0; top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
}

.modal-content {
  background: #fff;
  max-width: 500px;
  margin: 2% auto;
  padding: 5px;
  border-radius: 6px;
  position: relative;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 22px;
  cursor: pointer;
}

.gallery {
  display: flex;
  gap: 8px;
  overflow-x: auto;
  margin-bottom: 10px;
}

.gallery img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 4px;
}

.price {
  font-weight: bold;
  color: #059427;
  font-size: 18px;
}

.search-box {
  margin-top: 10px;
}

.search-box input {
  width: 90%;
  max-width: 300px;
  padding: 8px;
  border-radius: 4px;
  border: none;
}

.card.sold {
  opacity: 0.6;
  position: relative;
  pointer-events: none;
}

.card.sold::after {
  content: "VENDIDO";
  position: absolute;
  top: 10px;
  left: -5px;
  background: red;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  transform: rotate(-15deg);
  border-radius: 4px;
}
